/*   ------ navbar  -------- */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


/*   ------ LOGO  -------- */

.logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navbar-logo {
    font-family: "Montserrat-light";
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    z-index: 900;
}

.navbar-logo::after {
    content: "photography";
    font-size: 0.5rem;
    position: relative;
    bottom: 0.3rem;
    display: block;
    text-transform: uppercase;

}

/*   ------ menu  -------- */

.menu-btn {
    cursor: pointer;
    color: white;
    opacity: 0.7;
    display: block;
    position: relative;
    z-index: 900;

}

.nav-link {
  padding: 1.4rem;
  display: table;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}



@media screen and (min-width: 960px) {
    .menu-btn {
        display: none;
    }

    .nav-menu {
        width: 100vw;
        height: auto;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        justify-content: end;
        padding-right: 5vw;
        background-color: transparent;
      }

      .nav-menu.active {
        background-color: black;
        opacity: 0.95;
        top: 0;
        transition: all 0.5s ease-in-out;
        
    }
      .nav-item {
        height: 80px;
      }
      
      .nav-links {
        
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-left: 1rem;
      }
      
      .nav-links:hover {
        border-bottom: 4px solid #fff;
        transition: all 0.2s ease-out;
      }

      .nav-link {
        font-size: 1rem;
        padding-top: 1.4rem;
        padding-left: 1.4rem;

      }

      .nav-link:hover {
        color: rgb(165, 128, 6);
      }
    }


/* 









.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -100vh;
    left: 0;
    transition: all 0.5s ease-in-out;
    background-color: black;
    font-size: 1.5rem;
    
    
}

.nav-menu.active {
    background-color: black;
    opacity: 0.95;
    top: 0;
    transition: all 0.5s ease-in-out;
    
}

.nav-link {
    padding: 1.4rem;
    display: table;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}


.nav-link.active {
    color: white;
    animation: fadeIn 0.5s ease-in both;
}


.nav-link.active:hover {
    color: rgb(165, 128, 6);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -80%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}







@media screen and (min-width: 960px) {
    .menu-btn {
        display: none;
    }

    .nav-menu {
        width: 100vw;
        height: auto;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        justify-content: end;
        padding-right: 5vw;
        background-color: transparent;
      }
      .nav-item {
        height: 80px;
      }
      
      .nav-links {
        
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding-left: 1rem;
      }
      
      .nav-links:hover {
        border-bottom: 4px solid #fff;
        transition: all 0.2s ease-out;
      }

      .nav-link {
        font-size: 1rem;
        padding-top: 1.4rem;
        padding-left: 1.4rem;

      }

      .nav-link:hover {
        color: rgb(165, 128, 6);
      }
    } */