.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    
  }

  .imageBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .image > * {
    z-index: 300;
}

.imageBg::after {
    content: "";
    background: var(--white);
    opacity: 0.0009;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}



.image {
    width: 100vw;
    height: 100vh;
    /* -o-object-fit: cover;
    object-fit: cover; */
    /* background: #232a34; */
  }

.info {
    position: absolute;
    color: var(--white);
    font-family: "IvyMode-Thin";
}
  
  .title {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem;
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  
  .description {
    text-align: center;
    font-size: 1.2rem;
  }
  


@media screen and (min-width: 998px ){
  .title {
      font-size: 3rem;
      padding-bottom: 2rem;
  }
}
