
.card-section {
    background-color: rgb(229, 229, 229);
    padding-top: 3rem;
}

@media screen and (min-width: 968px){
    .card-section {
        /* margin: 0 auto;
        width: 90vw; */
        padding-left: 5vw;
        padding-right: 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3rem;


    }

    
}