.gallery-wrapper {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 4rem;
    padding-top: 3rem;
}

.gallery-container {
    text-align: center;
}

.gallery-img {
    height: 400px;
    width: 100%;
    padding-bottom: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.gallery-img img:hover {
    opacity: 0.7;
    transition: all ease-in-out 0.3s;
    transform: scale(0.98);
}

@media screen and (min-width: 968px) {
  
    .gallery-img {
        height: 250px;
        padding-bottom: 0;
    }
  
    .gallery-wrapper {
       
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
  
    .gallery-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
        "img1 img2 img3 img4"
        "img5 img6 img3 img7"
        "img8 img8 img8 img8"
        "img9 img10 img11 img12"
        "img13 img10 img14 img15"
        "img16 img16 img16 img16" 
        "img17 img18 img19 img20"
        "img21 img22 img19 img23";
    }
  
        #img1 {
            grid-area: img1;
        }
        
        #img2 {
            grid-area: img2;
        }
        
        #img3 {
            grid-area: img3;
            height: 510px;
        }
        
        #img4 {
            grid-area: img4;
        }
        
        #img5 {
            grid-area: img5;
        }
        
        #img6 {
            grid-area: img6;
        }
        
        #img7 {
            grid-area: img7;
        }
        
        #img8 {
            grid-area: img8;
            height: 510px;
        }
        
        #img9 {
            grid-area: img9;
        }
        
        #img10 {
            grid-area: img10;
            height: 510px;
        }
        #img11 {
            grid-area: img11;
        }
        #img12 {
            grid-area: img12;
        }
        #img13 {
            grid-area: img13;
        }
        #img14 {
            grid-area: img14;
        }
        #img15 {
            grid-area: img15;
        }
        #img16 {
            grid-area: img16;
            height: 510px;
        }
        #img17 {
            grid-area: img17;
        }
        #img18 {
            grid-area: img18;
        }
        #img19 {
            grid-area: img19;
            height: 510px;
        }
        #img20 {
            grid-area: img20;
        }
        #img21 {
            grid-area: img21;
        }
        #img22 {
            grid-area: img22;
        }
        #img23 {
            grid-area: img23;
        }
  }